# Fill in the API key for the model provider(s) you wish to use:
GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here




# Upstox API
UPSTOX_API_KEY="random"
UPSTOX_API_SECRET="random"

# PostgreSQL Database (using pure-python pg8000 dialect)
DATABASE_URL=postgresql+pg8000://postgres:postgres@localhost:5432/diversify_ai

# SMTP Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here
SENDER_EMAIL=your_email@gmail.com